<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Sauce Demo Testing Suite" verbose="1">
    <parameter name="baseUrl" value="https://www.saucedemo.com/"/>
    <parameter name="username" value="standard_user"/>
    <parameter name="password" value="secret_sauce"/>
    <test name="Purchase product test">
        <parameter name="numberProducts" value="3"/>
        <parameter name="firstName" value="Roberto"/>
        <parameter name="lastName" value="Gomez"/>
        <parameter name="postalCode" value="000000"/>
        <classes>
            <class name="com.rcgomez.tests.TestPurchaseProduct"/>
        </classes>
    </test>
    <test name="Remove elements from cart">
        <parameter name="numberProducts" value="3"/>
        <classes>
            <class name="com.rcgomez.tests.TestRemoveCartItems"/>
        </classes>
    </test>
    <test name="Log out functionality">
        <classes>
            <class name="com.rcgomez.tests.TestLogout"/>
        </classes>
    </test>
</suite>